.App {
  margin-top: 15px;
  max-width: 900px;
  margin: 0 auto;
}
.App .header {
  font-family: "Lavishly Yours", cursive;
  text-align: center;
  font-size: 85px;
}

.App footer {
  font-family: "Lavishly Yours", cursive;
  text-align: center;
  font-size: 30px;
}
.App footer a {
  text-decoration: none;
}
