.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  background-color: white;
  color: black;
}

.Phonetic a:hover {
  background-color: #5585b5;
  color: black;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
